{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}
  {% trans "Vérifiez votre panier et passez commande en toute sécurité via Stripe. Profitez de la livraison rapide pour recevoir vos créations en maroquinerie et macramé faits main." %}
{% endblock meta-description %}
{% block title %}
  {% trans "Panier - Commande sécurisée en maroquinerie et macramé" %}
{% endblock title%}
{% block head %}
  <meta name="robots" content="noindex, follow">
{% endblock head %}
{% block header %}
  <h1 id="title_cart">{% trans "Votre panier - Vérifiez et finalisez votre commande" %}</h1>
{% endblock header %}
{% block content %}
  <div id="cart-content">{% include 'cart/components/_cart_content.html' %}</div>
  {% include 'catalog/components/_modal.html' %}
</div>
{% endblock content %}
