<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as current_language %}

<html lang="{{ current_language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <meta name="description" content="{% block meta-description %}{% trans 'Sacs, accessoires et décorations en cuir et macramé conçus avec passion. Des créations uniques pour sublimer votre quotidien. Commandez en ligne, expédition rapide.' %}{% endblock %}">
        <meta name="author" content="Leather Work In Traveling DB">
        {% block head %}

            {% language "fr" %}
                {% url request.resolver_match.view_name as url_fr %}
            {% endlanguage %}

            {% language "en" %}
                {% url request.resolver_match.view_name as url_en %}
            {% endlanguage %}

            <link rel="alternate" href="https://www.leatherworkintravelingdb.com{{ url_fr }}" hreflang="fr">
            <link rel="alternate" href="https://www.leatherworkintravelingdb.com{{ url_en }}" hreflang="en">
            <link rel="canonical" href="https://www.leatherworkintravelingdb.com{{ request.path }}">
            <link rel="alternate" href="https://www.leatherworkintravelingdb.com{{ url_fr }}" hreflang="x-default">
            {% block robots %}
                <meta name="robots" content="index, follow">
            {% endblock %}
        {% endblock %}
        <meta property="og:title" content="{% trans 'Créations en maroquinerie et macramé - Leather Work In Traveling DB' %}">
        <meta property="og:description" content="{% trans 'Découvrez des produits authentiques en maroquinerie et macramé faits main.' %}">
        <meta property="og:image" content="{% static 'core/images/logo2.png' %}">
        <meta property="og:url" content="https://leatherworkintravelingdb.com">
        <meta name="twitter:title" content="{% trans 'Créations en maroquinerie et macramé - Leather Work In Traveling DB' %}">
        <meta name="twitter:description" content="{% trans 'Découvrez des produits authentiques en maroquinerie et macramé faits main.' %}">
        <meta name="twitter:image" content="{% static 'core/images/logo2.png' %}">
        <meta name="twitter:card" content="summary_large_image">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/icons/favicon-16x16.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/icons/favicon-32x32.png' %}">
        <title>{% block title %}{% trans "Créations en maroquinerie et macramé - Leather Work In Traveling DB" %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/style.css'%}">
        {% block extra_css %}{% endblock %}
        <link rel="preload" href="{% static 'core/fonts/UncialAntiqua-Regular.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="{% static 'core/fonts/PlayfairDisplay-Medium.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    </head>
    <body>
        <header class="text-center">
            {% include 'core/components/_navbar.html' %}
            <div class="title_and_logo align-items-center grid-container">
                <img class="logo" src="https://res.cloudinary.com/dalrlwhii/image/upload/f_auto/v1745414122/cwmtpsig7dz8czn6ka6p.png" alt="Logo Leather Work In Traveling DB" >
                {% block header %}
                {% endblock %}
            </div>
        </header>

        {% block content %}
        {% endblock %}

        {% include 'core/components/_contact.html' %}

        {% include 'core/components/_footer.html' %}

        <script type="text/javascript" src="{% static 'core/script.js'%}"></script>
        {% block extra_js %}{% endblock %}
    </body>
    <div id="overlay" class="hidden"></div>
</html>