{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    {% if products.has_previous %}
    <link rel="prev" href="https://www.leatherworkintravelingdb.com{{ request.path }}{% if products.number != 2 %}?page={{ products.previous_page_number }}{% endif %}">
    {% endif %}
    {% if products.has_next %}
    <link rel="next" href="https://www.leatherworkintravelingdb.com{{ request.path }}?page={{ products.next_page_number }}">
    {% endif %}
{% endblock %}

{% block robots %}
    {% if products.number != 1 %}
        <meta name="robots" content="noindex, follow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
{% endblock %}

{% block content %}
    <header>
        {% block description %}
        {% endblock %}
    </header>

    <section id="products-section">
        <!--Pagination Links-->
        <nav aria-label="{% trans 'Pagination' %}" class="pagination text-center font-size-17">
            {% include 'catalog/components/_pagination_link.html' %}
        </nav>
        <div class="grid-container filter-and-list">
            <!--Filter-->
            {% include 'catalog/components/_filter.html' %}
            
            <!--List of products-->
            <div id="liste-produits" class="grid-container tous_les_produits">
                {% if products %}
                {% for produit in products %}
                    <div class="grid-container produit{% if produit.pending_in_cart or produit.on_demand %} unavailable{% endif %}" data-product-id="{{ produit.id }}">
                        <h2 class="product-name">{{ produit.name }}</h2>
                            {% if produit.image1 or produit.image2 or produit.image3 or produit.image4 or produit.image5 or produit.image6 %}
                                {% if produit.image1 %}
                                    <img src="{{ produit.image1.url }}" alt="{{ produit.name }}">
                                {% elif produit.image2 %}
                                    <img src="{{ produit.image2.url }}" alt="{{ produit.name }}">
                                {% elif produit.image3 %}
                                    <img src="{{ produit.image3.url }}" alt="{{ produit.name }}">
                                {% elif produit.image4 %}
                                    <img src="{{ produit.image4.url }}" alt="{{ produit.name }}">
                                {% elif produit.image5 %}
                                    <img src="{{ produit.image5.url }}" alt="{{ produit.name }}">
                                {% elif produit.image6 %}
                                    <img src="{{ produit.image6.url }}" alt="{{ produit.name }}">
                                {% endif %}
                                <p class="click-hint">👆 {% trans 'Cliquez' %}</p>
                            {% else %}
                                <p>{% trans "Aucune image disponible" %}</p>
                            {% endif %}
                        {% if not produit.pending_in_cart and not produit.on_demand %}
                            {% if produit.discount != 0.0 %}
                                <p class="promo-widget">Promo</p>
                                <p class="text-center new-price">Nouveau prix: {{ produit.final_price | floatformat:2 }}€</p>
                                <p class="old-price">{% trans "Prix: " %} {{ produit.price | floatformat:2 }}€</p>
                            {% else %}
                                <p>{% trans "Prix: " %} {{ produit.price | floatformat:2 }}€</p>
                            {% endif %}
                            <button class="align-items-center page-button add_to_cart_button" data-product-id="{{ produit.id }}">{% trans "Ajouter au panier" %}</button>
                        {% else %}
                            <p class="text-center">{% trans 'Produit indisponible pour le moment' %}</p>
                            <a class="align-items-center page-button on-order-button text-center" href="mailto:{{ CLIENT_EMAIL }}?subject=Contact%20depuis%20LeatherWorkInTravelingDB.com%20-%20Demande%20de%20fabrication%20de%20l'article%20{{ produit.name }}">{% trans 'Contactez-nous, disponible sur commande' %}</a>
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                    <p id="no_products">{% trans "Aucun produit disponible" %}</p>
                {% endif %}
            </div>
        </div>
        <!--Pagination Links-->
        <nav aria-label="{% trans 'Pagination' %}" class="pagination text-center font-size-17">
            {% include 'catalog/components/_pagination_link.html' %}
        </nav>
    </section>
    <footer>
        {% block outro %}
        {% endblock %}
    </footer>

    {% include 'catalog/components/_modal.html' %}
{% endblock %}