{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
  {{ block.super }}
  {% if products.has_previous %}
    <link rel="prev"
          href="https://www.leatherworkintravelingdb.com{{ request.path }}{% if products.number != 2 %}?page={{ products.previous_page_number }}{% endif %}">
  {% endif %}
  {% if products.has_next %}
    <link rel="next"
          href="https://www.leatherworkintravelingdb.com{{ request.path }}?page={{ products.next_page_number }}">
  {% endif %}
{% endblock head %}
{% block robots %}
  {% if products.number != 1 %}
    <meta name="robots" content="noindex, follow">
  {% else %}
    <meta name="robots" content="index, follow">
  {% endif %}
{% endblock robots%}
{% block content %}
  <header class="intro-outro intro-outro--intro">
    {% block catalog-description %}{% endblock catalog-description %}
  </header>
  <!--Pagination Links-->
  <nav aria-label="{% trans 'Pagination' %}"
       class="pagination text-center font-size-17"
       id="pagination-top">
    {% include 'catalog/components/_pagination_link.html' %}
  </nav>
  <div class="two-col-layout two-col-layout--aside-left">
    <!--Filter-->
    <aside class="filter two-col-layout__aside">
      {% include 'catalog/components/_filter.html' %}
    </aside>
    <!--List of products-->
    <ul class="two-col-layout__main grid-container">
      {% for product in products %}
        {% include 'catalog/components/_product_card.html' with page='catalog' %}
      {% empty %}
        <li id="no_products">{% trans "Aucun produit disponible" %}</li>
      {% endfor %}
    </ul>
  </div>
  <!--Pagination Links-->
  <nav aria-label="{% trans 'Pagination' %}"
       class="pagination text-center font-size-17">
    {% include 'catalog/components/_pagination_link.html' %}
  </nav>
  <footer class="intro-outro intro-outro--outro">
    {% block outro %}
    {% endblock %}
  </footer>
  {% include 'catalog/components/_modal.html' %}
{% endblock content %}
