{% extends 'catalog/base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}
  {% trans "Découvrez notre sélection exclusive de créations uniques : bijoux originaux, accessoires, maroquinerie, macramés, objets hybrides et bien plus encore. Trouvez des produits inédits pour sublimer votre style. Livraison rapide et qualité garantie." %}
{% endblock meta-description %}
{% block title %}
  {% trans "Accessoires, maroquinerie & macramé faits main | Créations originales" %}
{% endblock title %}
{% block header %}
  <div>
    <h1 id="title_all_products">{% trans "Explorez Nos Créations - Trouvez votre style unique" %}</h1>
    <p class="sub-title">{% trans "Pièces uniques en cuir repoussé et macramé, façonnées" %}</p>
  </div>
{% endblock header %}
{% block catalog-description %}
  <div>
    <p class="text-center"><em>{% trans "Maroquinerie ciselée, bijoux macramé," %}</em></p>
    <p class="text-center"><em>{% trans "Le repoussage cuir est une technique " %}</em></p>
    <p class="text-center"><em>{% trans "Les créations en macramé suivent la même" %}</em></p>
    <p class="text-center"><em>{% trans "Que vous cherchiez un cadeau cuir" %}</em></p>
  </div>
  <button class="align-items-center page-button font-size-17"
          id="see_products_button">{% trans "Voir les créations ↓" %}</button>
{% endblock catalog-description %}
{% block outro %}
  <p class="text-center"><em>{% trans "outro produits" %}</em></p>
  <a href="{% url 'core:custom_creation' %}"
     class="align-items-center page-button font-size-17"
     id="custom_creation_button">{% trans "Créations sur mesure" %}</a>
{% endblock outro %}
