{% extends 'core/base.html' %}
{% load i18n %}
{% block head %}
  {% language "fr" %}
    {% url 'catalog:product_detail' category=product.category|lower slug=product.name_fr|slugify product_id=product.id as url_fr %}
  {% endlanguage %}
  {% language "en" %}
    {% url 'catalog:product_detail' category=product.category|lower slug=product.name_en|slugify product_id=product.id as url_en %}
  {% endlanguage %}
  <link rel="alternate"
        href="https://www.leatherworkintravelingdb.com{{ url_fr }}"
        hreflang="fr">
  <link rel="alternate"
        href="https://www.leatherworkintravelingdb.com{{ url_en }}"
        hreflang="en">
  <link rel="canonical"
        href="https://www.leatherworkintravelingdb.com{{ request.path }}">
  <link rel="alternate"
        href="https://www.leatherworkintravelingdb.com{{ url_fr }}"
        hreflang="x-default">
  {% block robots %}
    <meta name="robots" content="index, follow">
  {% endblock robots %}
{% endblock head %}
{% load static %}
{% block meta-description %}{{ product.meta_description|default:product.name }}{% endblock meta-description %}
{% block title %}{{ product.name }} - Leather Work{% endblock title %}
{% block header %}
  <h1 id="nom-article">{{ product.name }}</h1>
{% endblock header %}
{% block content %}
  <nav aria-label="{% trans 'Fil d Ariane' %}" class="breadcrumb">
    <ol>
      <li><a href="{% url 'core:index' %}">{% trans "Accueil" %}</a></li>
      <li>
        <a href="{% url category_url_name %}">{{ category_label }}</a>
      </li>
      <li aria-current="page">{{ product.name }}</li>
    </ol>
  </nav>
  <article class="product-detail two-col-layout two-col-layout--aside-right">
    <section class="two-col-layout__main product-detail__images">
      <h2 class="sr-only">{% trans "Images du produit" %}</h2>
      {{ product.image_urls|json_script:"product-images-data" }}
      <div class="image-container" id="imageContainer">
        {% if product.image1 %}
          <img id="current-image"
               src="{{ product.image1.url }}"
               alt="{{ product.name }}">
        {% else %}
          <img id="current-image" src="" alt="{{ product.name }}">
        {% endif %}
      </div>
      <div class="image-buttons">
        <button class="font-size-17" id="prev-button" type="button">{% trans "Précédent" %}</button>
        <button class="font-size-17" id="next-button" type="button">{% trans "Suivant" %}</button>
      </div>
    </section>
    <aside class="two-col-layout__aside product-detail__info">
      <section>
        <h2>{% trans "Description" %}</h2>
        <p id="description-article">
          {% if product.description %}
            {{ product.description }}
          {% else %}
            {% trans "Aucune description disponible" %}
          {% endif %}
        </p>
      </section>
      <section class="product-detail__pricing">
        {% if product.discount != 0.0 %}
          <p id="promo-widget" class="promo-widget">{% trans "Promo" %}</p>
          <p class="text-center new-price">{% trans "Nouveau prix:" %} {{ product.final_price|floatformat:2 }}€</p>
          <p class="old-price">{% trans "Prix:" %} {{ product.price|floatformat:2 }}€</p>
        {% else %}
          <p>{% trans "Prix:" %} {{ product.price|floatformat:2 }}€</p>
        {% endif %}
      </section>
      {% if not product.pending_in_cart and not product.on_demand %}
        <button hx-post="{% url 'cart_api:add_to_cart' product.id %}"
                hx-target="#product-detail-actions"
                hx-swap="innerHTML"
                hx-confirm="{% trans 'Voulez-vous ajouter ce produit au panier ?' %}"
                class="align-items-center page-button add_to_cart_button"
                id="product-detail-actions"
                type="button">{% trans "Ajouter au panier" %}</button>
      {% else %}
        <div id="product-detail-actions">
          <p class="text-center">{% trans 'Produit indisponible pour le moment' %}</p>
          <a class="align-items-center page-button on-order-button text-center"
             href="mailto:{{ CLIENT_EMAIL }}?subject=Contact%20depuis%20LeatherWorkInTravelingDB.com%20-%20Demande%20de%20fabrication%20de%20l'article%20{{ product.name }}">
            {% trans 'Contactez-nous, disponible sur commande' %}
          </a>
        </div>
      {% endif %}
    </aside>
  </article>
{% endblock content %}
